:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #242424;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #242424;
}

#root {
  min-height: 100vh;
}
